
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-oneLineEllipsis {
  display: block;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

/* Scrollbar class */
/* ::-webkit-scrollbar {
  height: 0rem !important;
  width: 0rem !important;
}

::-webkit-scrollbar-thumb {
  border-radius: 1rem;
  border-style: dashed;
  background-color: #44ada5;
  border-color: transparent;
  border-width: 1.5px;
  background-clip: padding-box;
}

::-webkit-scrollbar-thumb:hover {
  background: transparent;
  background-color: #44ada5;
  border-color: transparent;
  transition: 0.5s;
}

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 transparent;
  border-radius: 0;
  background: transparent;
} */

.scrollbarShow::-webkit-scrollbar {
  width: .6em !important;
}

.scrollbarShow::-webkit-scrollbar-button {
  background: transparent !important;
}

.scrollbarShow::-webkit-scrollbar-track-piece {
  background: transparent !important;
}

.scrollbarShow::-webkit-scrollbar-track {
  box-shadow: inset 0px transparent !important;
}

.scrollbarShow::-webkit-scrollbar-thumb {
  background-color: #5d5275 !important;
  border-radius: 50rem !important;
}

.text-grey {
  color: #979797;
}

.text-wom-light {
  color: #a54210;
}

.text-wom-lighter {
  color: #ec611d;
}

.text-wom-white {
  color: #dd8357;
}

.text-wom {
  color: rgb(49, 30, 21);
}

.text-wom-dark {
  color: #240e03;
}

.btn-wom {
  background-color: #ec611d !important;
  color: #fff !important;
}

.btn-wom:hover, .btn-wom:active {
  background-color: #1c0a02 !important;
  color: #fff !important;
}

.btn-hover-wom {
  background-color: transparent !important;
  border: 0px solid #1c0a02 !important;
  color: #1c0a02 !important;
}

.btn-hover-wom:hover, .btn-outline-wom:active {
  background-color: #ec611d !important;
  border: 1px solid #ec611d !important;
  color: #fff !important;
}

.btn-outline-wom {
  background-color: transparent !important;
  border: 1px solid #1c0a02 !important;
  color: #1c0a02 !important;
}

.btn-outline-wom:hover, .btn-outline-wom:active {
  background-color: #ec611d !important;
  border: 1px solid #ec611d !important;
  color: #fff !important;
}

.btn-outline-wom.active {
  background-color: #ec611d !important;
  border: 1px solid #ec611d !important;
  color: #fff !important;
}

#dropdown-button-drop-end {
  background-color: transparent;
  border: none;
  height: 100%;
  padding: 0%;
}

.bg-wom {
  background-color: #1c0a02 !important
}

.bg-wom-light {
  background-color: #eff2fe !important
}

.bg-grey {
  background-color: #eaeaea !important
}

.bg-dots {
  background-image: url('./asset/images/bg-dots.svg');
  background-repeat: no-repeat;
  background-position: 75%;
  background-size: 150%;
}

.bg-dots-light {
  background-image: url('./asset/images/bg-dots-light.png');
  background-repeat: no-repeat;
  background-position: 75%;
  background-size: 181%;
}

.loader-dot {
	--color: rgb(0, 999, 999, .65);
	--size-mid: 3vmin;
	--size-dot: 1.25vmin;
	--size-bar: .5vmin;
	--size-square: 1vmin;
	display: block;
	position: relative;
	width: 50%;
	display: grid;
	place-items: center;
  z-index: 3;
}

.loader-dot::before,
.loader-dot::after {
	content: '';
	box-sizing: border-box;
	position: absolute;
}

.loader-dot::before,
.loader-dot::after {
	width: var(--size-dot);
	height: var(--size-dot);
	background-color: var(--color);
	border-radius: 50%;
	animation: loader-dot 1.3s ease-in-out infinite;
}

.loader-dot::before {
	left: calc(50% - 1vmin - var(--size-dot));
}

.loader-dot::after {
	left: calc(50% + 1vmin);
	animation-delay: -0.4s;
}

.speech-bubble {
	position: relative;
	background: #795858;
	border-radius: .4em;
}

.speech-bubble-start:after {
	left: 0;
	border-left: 0;
	border-bottom: 0;
}

.speech-bubble-end:after {
	right: 0;
	border-right: 0;
	border-bottom: 0;
}

.speech-bubble:after {
	content: '';
	position: absolute;
	top: 50%;
	width: 0;
	height: 0;
	border: 20px solid transparent;
	border-left-color: #795858;
	margin-top: -10px;
	margin-right: -20px;
}

.hrClass-dashed {
  margin: 0rem 0rem 1.25rem 0rem;
  color: transparent;
  background-color: transparent;
  border-top: 1px dashed #317985 !important;
  opacity: .3;
}

.imgHover {
  transition: all 0.5s ease 0s;
}

.funsHover > * {
  z-index: 2;
  display: none !important;
}

.funsHover:hover > * {
  display: block !important;
}

.imgHover:hover {
  transform: scale(1.1);
  cursor: pointer;
  border: 3px solid #1c0a02 !important;
}

@keyframes loader-dot {
	0%, 100% {
		transform: translateY(1.5vmin);
	}
	
	44% {
		transform: translateY(-4.5vmin);
	}
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.h-4 {
  height: 4% !important;
}

.h-6 {
  height: 6% !important;
}

.h-7 {
  height: 7% !important;
}

.h-8 {
  height: 8% !important;
}

.h-10 {
  height: 10% !important;
}

.h-16 {
  height: 16% !important;
}

.h-33 {
  height: 33% !important;
}

.h-34 {
  height: 34% !important;
}

.h-35 {
  height: 35% !important;
}

.h-40 {
  height: 40% !important;
}

.h-80 {
  height: 80% !important;
}

.h-84 {
  height: 84% !important;
}

.h-86 {
  height: 86% !important;
}

.h-90 {
  height: 90% !important;
}

.h-95 {
  height: 95% !important;
}

.h-96 {
  height: 96% !important;
}

.h-111 {
  height: 111% !important;
}

.w-10 {
  width: 10% !important;
}

.w-20 {
  width: 20% !important;
}

.w-35 {
  width: 35% !important;
}

.w-60 {
  width: 60% !important;
}

.w-90 {
  width: 90% !important;
}

.fs-7 {
  font-size: 0.93rem !important;
}

.fs-7t8 {
  font-size: 0.85rem !important;
}

.fs-8 {
  font-size: 0.8rem !important;
}

.border-table-wom > .row > * {
  padding: 0rem;
  border: 1px solid rgb(99 35 35 / 5%);
}

.form-control:focus {
  color: #212529;
  background-color: #fff;
  border-color: #86b7fe;
  outline: 0;
  box-shadow: 0 0 0 0.2rem inset rgb(202, 198, 230) !important;
}

.form-control:hover {
  color: #212529;
  background-color: #fff;
  border-color: #86b7fe;
  outline: 0;
  box-shadow: 0 0 0 0.2rem inset rgb(202, 198, 230) !important;
}

.dropdown-item.active, .dropdown-item:active {
  background-color: #0a004f !important;
}

.Drag {
  display: flex;
  flex-direction: column;
  user-select: none;
}

.deets {
  display: flex;
  flex-direction: row;
  font-size: 12px;
}
.deets > div {
  margin: 0.25rem;
}

#dropdown-button-drop-end:focus{
  box-shadow: none;
}

.dropend .dropdown-toggle::after{
  display: none !important;
}

.dropdown-menu {
  padding-bottom: 0% !important;
}

.stepList > .list-group-item.active {
  background-color: white !important;
  color: grey !important;
  border-color: #0d6efd !important;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
